.maze-cell {
	width: 20px;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, .05);

	&.road {
		background: #ddd;
	}
	&.block {
		background: #333;
	}
	&.start {
		background: #4cbb17;
	}
	&.end {
		background: #4cbb17;
	}
	&.solution {
		background: #4cbb17;
	}
	&.unknown {
		background: purple;
	}

	.type-label {
		color: #fff;
		margin: 0;
		text-align: center;
	}
}